{% extends "base.html" %}
{% block title %}GROCS - Admin{% endblock %}
{% block content %}
    {% include "admin_nav.html" %}
    <section class="admin-section">
        <h2>Dashboard</h2>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body admin-dashboard-card">
                        <h5 class="card-title">Products</h5>
                        <p class="card-text font-weight-bold">{{ products|length }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body admin-dashboard-card">
                        <h5 class="card-title">Categories</h5>
                        <p class="card-text font-weight-bold">{{ categories|length }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body admin-dashboard-card">
                        <h5 class="card-title">Orders</h5>
                        <p class="card-text font-weight-bold">{{ orders|length }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
