.cart-counter {
	top: 10px;
	left: 80%;
}

.product-card {
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	transition: transform 0.2s;
	cursor: pointer;
}

.product-card:hover {
	transform: translateY(-5px);
}

.product-img-container {
	height: 220px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.price {
	font-size: 1.1rem;
	font-weight: 500;
	color: #333;
	margin-bottom: 1rem;
}

.view-all {
	text-decoration: none;
	font-weight: 500;
}

.view-all:hover {
	text-decoration: underline;
}
.product-card:hover .product-img {
	transform: scale(1.05);
}

.product-card:hover .price {
	color: #28a745;
}

.category-card, .details-img {
	background-color: #f8f8f8;
	border-radius: 12px;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 160px;
	transition: transform 0.2s, box-shadow 0.2s;
	margin-bottom: 1rem;
	border: 1px solid #f0f0f0;
}

.category-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.category-img {
	height: 120px;
	width: 120px;
	object-fit: contain;
	margin-bottom: 1rem;
}

.details-img {
	height: 300px;
	width: 100vw;
	object-fit:contain;
}

.category-name {
	font-weight: 600;
	color: #333;
	margin: 0;
}

.deal-tag {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #ff6b6b;
	color: white;
	padding: 3px 10px;
	font-size: 14px;
	border-radius: 3px;
	font-weight: bold;
	z-index: 2;
}

.carousel-item {
	height: 400px;
}

.card-title {
	text-decoration: none;
}

.details-card {
    background-color: #f8f8f8;
}

.order-item a {
	text-decoration: none;
}

.order-item:hover a {
	color: #0d6efd !important;
}

.order-items {
	max-height: 500px;
	overflow-y: auto;
}

.order-item img {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.order-item {
	display: flex;
	align-items: center;
	padding: 10px;
}

.order-item:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.checkout-items{
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
}

.dropdown-toggle::after {
	content: none;
}
